body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	background-color: #646464;
	height: 100%;
	width: 100%;
}

.wrapper {
	color: #777777;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px 1px inset;
	background-color: rgb(229, 229, 229);
	transition: visibility 1s;
	position: relative;
	top: 50%;
	left: 50%;
}

#auth {
	margin-left: -150px;
	margin-top: -85px;
	width: 300px;
	height: 170px;
}

#maintainance {
	visibility: hidden;
	width: 80%;
	min-width: 900px;
	height: 90%;
	margin-left: -40%;
	margin-top: -29%; /*dummy*/
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: white 0px 0px 10px;
	font-weight: bold;
}

#auth-form {
	padding: 5px 20px 0px 20px;
}

#main-form {
	padding: 5px;
}

input[type="text"] {
	width: 100%;
	border: none;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #8C8C8C;
	transition: box-shadow 1s;
}

input[type="password"] {
	border: none;
	display: inline-block;
	clear: right;
	margin-top: 20px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #8C8C8C;
	transition: box-shadow 1s;
}

input:focus {
	border: none;
	outline: none;
	box-shadow: 0px 0px 5px #FFFF00;
}

#auth-pass.error {
	box-shadow: 0px 0px 5px #DB184D;
}

#new_pubkey {
	width: 100%;
}

.notif {
	margin: 0;
	font-size: 14px;
	padding: 6px;
	line-height: 20px;
	background-color: #fddfde;
	border: 1px solid #fbc7c6;
	border-radius: 4px;
	text-align: center;
}

#auth_notif {
	margin-top: 25px;
	width: 150px;
	float: left;
}

#panel_notif {
	width: 200px;
	margin: 0 auto 0 auto;
}

/*
	Loading Icon
*/

.hidden {
	visibility: hidden;
}

/*
	Buttons
*/

#auth-btn {
	margin-top: 25px;
	float: right;
}

button {
  padding: 4px 12px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
          border-radius: 4px;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	border: 1px solid #cccccc;
	padding: 6px;
	border-radius: 4px;
}


button:hover,
button:focus,
button:active,
button[disabled] {
  color: #333333;
  background-color: #e6e6e6;
}

button:hover,
button:focus {
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
			transition: background-position 0.1s linear;
}

button:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

button:active {
	background-color: #cccccc;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  box-shadow: none;
}

button > i {
	font-size: 1.5em;
}
/*
	Table
*/

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

th, td {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.col-peer {
	width: 7.5em;
}

.col-ip {
	width: 10em;
}

.col-port {
	width: 4em;
}

.col-online {
	width: 4em;
}

.col-options {
	width: 4em;
}
